<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Homes Template">
    <meta name="keywords" content="Homes, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gatekeepers</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.min.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="/assets/images/only-logo.png" alt="">
                        </a>
                    </div>
                    <ul class="main-menu">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./search.html">Search Results</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>

                    </ul>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero-section home-page set-bg">

    </section>
    <!-- Hero Section End -->

    <!-- Hotel Room Section Begin -->
    <section class="hotel-rooms spad">
        <div class="container">
            <form method="post">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="/assets/images/street/1.jpg">
                        </div>
                        <div class="room-text">
                            <div class="room-price">
                                    <span>Valle De Salazar</span>
                            </div>
                            <input type="submit" class="site-btn btn-line" value="View" formaction="/visits/1">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="/assets/images/street/2.jpg">

                        </div>
                        <div class="room-text">

                            <div class="room-price">
                                <span>Uco</span>
                            </div>
                            <input type="submit" class="site-btn btn-line" value="View" formaction="/visits/2">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="/assets/images/street/3.jpg">

                        </div>
                        <div class="room-text">
                        <div class="room-price">
                                <span>Ulúa</span>
                        </div>
                            <input type="submit" class="site-btn btn-line" value="View" formaction="/visits/3">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="/assets/images/street/4.jpg">

                        </div>
                        <div class="room-text">
                            <div class="room-details">
                            </div>

                            <div class="room-price">
                                <span>Belvedere</span>
                            </div>
                            <input type="submit" class="site-btn btn-line" value="View" formaction="/visits/4">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="/assets/images/street/5.jpg">

                        </div>
                        <div class="room-text">
                            <div class="room-details">

                            </div>

                            <div class="room-price">
                                <span>Bianco</span>
                            </div>
                            <input type="submit" class="site-btn btn-line" value="View" formaction="/visits/5">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="room-items">
                        <div class="room-img set-bg" data-setbg="/assets/images/street/6.jpg">

                        </div>
                        <div class="room-text">
                            <div class="room-details">

                            </div>

                            <div class="room-price">
                                <span>Sulé</span>
                            </div>
                            <input type="submit" class="site-btn btn-line" value="View" formaction="/visits/6">
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>
    <!-- Hotel Room Section End -->
    <!-- Popular Room Section Begin -->

    <!-- Popular Room Section End -->
    <!-- Newslatter Section Begin -->

    <!-- Newslatter Section End -->
    <!-- Servies Section Begin -->

    <!-- Servies Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <!-- Rooms Pic Section Begin-->

        <!-- Rooms Pic Section End -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center sp-60">
                    <img src="/assets/images/only-logo.png" alt="">
                </div>
            </div>
            <div class="row p-37">

                <div class="col-lg-12 text-center">
                    <div class="footer-address">
                        <h5>Get In Touch</h5>
                        <ul>
                            <li><i class="flaticon-envelope"></i><span>sales@gatekeepers.mx</span></li>
                            <li><i class="flaticon-smartphone"></i><span>442-715-7954</span></li>
                        </ul>
                        <p>Monday – Friday: 9 am – 5 pm</p>
                        <p>Saturday: 9 am – 1pm</p>
                    </div>
                </div>
            </div>

            <div class="row p-20">
                <div class="col-lg-12 text-center">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>